html{
    min-width: 1250px;
    color: #fff;
}

table, th, td{
    border: 2px solid #000;
}
table{
    border-collapse: collapse;
    width: 20%;
}
td, th{
    text-align: center;
    font-size: 1.25em;
    padding: 5px;
}
.tablespecs{
    margin: 0px auto;
}
.tablespecs tr,th{
    background: #8fa;
}
.tablespecs tr:hover{
    background-color: #a4c;
}
#phone{
    border: 2px solid #000;
    width: 15%;
    margin-bottom: 4px;
}
#address{
    border: 2px solid #000;
    width: 15%;
}

#phonenumber{
    font-size: 16px;
}

body{
    background-color: #222;
}

.navBar{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    align-content: center;
}

nav>a{
    text-decoration: none;
    background-color:  #90b2d8;
    padding: 15px;
    margin-left: 70px;
    width: 90px;
}

nav{
    display: flex;
    flex-direction: row;
    text-align: center;
}


a:link{

}

a:visited{

}

a:hover{

}

a:active{
}

#graph{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#leftBar{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -20px;
    padding-bottom: 0px;
    margin-top: -20px;
}

#velocity{
    margin-top: 100px;
    margin-left: 150px;
}

#bottomRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin-left: 360px;
}

#time{
    width: 100%;
    text-align: center;
}

#graphKey{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 1180px;
    bottom: 250px;
    color: #000;
}

#blue{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Sanic{
    height: 20px;
    width: 20px;
    background-color: #00F;
    margin-right: 10px;
}

#nonSanic{
    height: 20px;
    width: 20px;
    background-color: #F00;
    margin-right: 10px;

}

#red{
    display: flex;
    flex-direction: row;
    align-items: center;

}